.gradient {
    background: linear-gradient(to bottom, #484aa3, #493382);*/
}

.image left wrap {
    float: left; /* Float the image to the left */
    margin-right: 20px; /* Add some margin to create space between the image and text */
}
